* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header{
    padding: 2rem;
    background-color: rgb(201, 219,226);
}

body{
    background: white;
    margin: 1em;
}

.hero{
    padding: 2rem;}


a{
    text-decoration: none;
    color: black;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    gap: 1rem;
    background-color: rgb(199, 216, 217);
    padding: 10px;
     transition: 0.2s ease;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

a.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.hero-img{
    max-width: 100%;
}

#tilbageknap{
     background-color: rgb(199, 216, 217);
     border-radius: 8px;
     padding: 5px;
     margin: 2px;
}

h1{
    padding: 2rem;
}
@media (min-width: 800px) {
    section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .hero{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}