* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header{
    padding: 2rem;
    background-color: rgb(201, 219,226);
}

body{
    background: white;
    margin: 1em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
     flex: 1;
}

footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero {
    padding: 4rem;
    position: relative;
    overflow: hidden;
    h1, h2{
        color: black
    }
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px) brightness(1.2);
    z-index: -1;
}

a{
    text-decoration: none;
    color: black;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


.forsidetekst{
    text-align: center;
}

.card{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 5;
    gap: 1rem;
    background-color: rgb(199, 216, 217);
    padding: 10px;
     transition: 0.2s ease;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

a.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}


#tilbageknap{
     background-color: rgb(199, 216, 217);
     border-radius: 8px;
     padding: 4px;
     margin-top: 2px;
     margin-bottom: 8px;
}

#kategoriContainer{
    display: grid;
    padding-top: 2rem;

    a{
        background-color: rgb(201, 219,226);
        padding: 8px;
        text-align: center;
        border-radius: 10px;
    }
}



@media (min-width: 800px) {
.forsidetekst{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

    #produktliste {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #kategoriContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hero{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}